.mortal-enemy-rank {
  label {
    font-size: 12px;
  }
  .name-rank {
    font-size:   12px;
    display:     inline-block;
    margin:      0;
    margin-left: 5px;
  }

  button {
    margin-left: 5px;
    padding:     .12rem .2rem;
    font-size:   .5rem;
  }
}
