.mortal-enemy-descritpion {
  label {
    font-size: 12px;
  }
  textarea {
    width:      100%;
    font-size:  12px;
    resize:     none;
    background: rgba(1,1,1,0.00) !important;
    border:     1px solid rgba(1,1,1,0.1);
  }
}
