.mortal-enemy {
  list-style-type: none;
  background:      rgba(1,1,1,0.05);
  padding:         20px 20px;
  font-size:       20px;
  margin:          5px 10px;

  .top-section {
    margin-bottom: 10px;

    .name {
      font-size: 30px;
      display:   inline-block;
      margin:    0;
    }

    .discard-btn {
      display:      inline-block;
      float:        right;
      margin-right: 5px;
    }
  }
}
